.highlight {
  font-weight: 800;
  padding: 5px;
}
#templateContainer {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
  border: 1px solid black;
  height: 100%;
}
#cvHeader {
  padding: 10px;
  background-color: rgb(112, 143, 157);
  padding: 20px;
  height: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#names {
  display: flex;
}
#cvTitle {
  font-size: 10;
  font-size: 1.6rem;
}
#cvFirstName {
  margin-right: 10px;
  font-size: 2rem;
  font-weight: 800;
}
#cvSecondName {
  font-size: 2rem;
  font-weight: 800;
}
#templateBody {
  display: flex;
  height: 100%;
}
#templateMain {
  width: 70%;
  border-right: solid black 1px;
  padding: 15px;
}
#templateSide {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#photoContainer {
  display: flex;
  height: 33%;
  width: 100%;
  border-bottom: 1px solid black;
  justify-items: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#userPhoto {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#personalDetails {
  display: flex;
  flex-direction: column;
  height: 33%;
}
#personalDetailsHeader {
  font-size: 1.2rem;
  border-bottom: 1px solid;
  text-align: center;
}

.detailsBox {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.detailsIconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsIcon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  object-fit: contain;
  margin-bottom: 18px;
}
#referencePages {
  display: flex;
  flex-direction: column;
  height: 33%;
}
#templateDescription {
  display: flex;
  flex-direction: column;
}
#descriptionContent {
  width: 100%;
  word-wrap: break-word;
}

#templatePagesHeader {
  font-size: 1.2rem;
  border-bottom: 1px solid;
  text-align: center;
}
