.highlight {
  font-weight: 800;
}
.highlight-low {
  font-weight: 400;
}
.accent {
  font-size: 1.3rem;
}
#templateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#cvHeader {
  padding: 10px;
  background-color: rgb(112, 143, 157);
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#names {
  display: flex;
}
#cvTitle {
  font-size: 10;
  font-size: 1.6rem;
}
#cvFirstName {
  margin-right: 10px;
  font-size: 2rem;
  font-weight: 800;
}
#cvSecondName {
  font-size: 2rem;
  font-weight: 800;
}
#templateBody {
  display: flex;
  height: 100%;
}
#templateMain {
  width: 70%;
  border-right: solid black 1px;
  padding: 25px;
}
#templateSide {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#photoContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
#userPhoto {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#personalDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#personalDetailsHeader {
  font-size: 1.2rem;
  border-bottom: 1px solid;
  text-align: center;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  padding: 10px;
}
.detailsBoxTop {
  display: flex;
}
.detailsBoxBot {
  margin-top: 5px;
}
.personalInfoContent {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 10px;
}
.detailsIconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsIconBox {
  display: flex;
}
.detailsIcon {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
#referencePages {
  display: flex;
  flex-direction: column;
}
#templateDescription {
  display: flex;
  flex-direction: column;
}
#descriptionContent {
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 10px;
}
#templatePages {
  padding: 15px;
}
#templatePagesHeader {
  font-size: 1.2rem;
  border-bottom: 1px solid;
  text-align: center;
}
#templateEducation {
  display: flex;
  flex-direction: column;
}
.eduBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.eduSide {
  display: flex;
  width: 30%;
}
.eduDates {
  padding: 5px;
  display: flex;
}
.eduMain {
  width: 70%;
}
#uniCityName {
  display: flex;
}
/* #templateUniName { */
/* } */
#templateUniCityName {
  margin-left: 5px;
}
#skillContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.skillBox {
  display: flex;
  width: 100%;
}
/* .skillIcon {
}
.skillContent {
} */
#formPagesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.formSkillBox {
  display: flex;
}
.skillTemplateIcon {
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
}
.inputIconSkill {
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.templateIconStamp {
  font-size: 0.7rem;
  padding-top: 30px;
  padding: 15px;
}
.skill-icon {
  width: 30px;
  height: 30px;
}

.experienceTemplateContainer {
  display: flex;
}
.experienceTemplateDates {
  display: flex;
  margin-right: 80px;
}
.experienceTemplateContent {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.experienceTemplateBot {
  display: flex;
}
.padLeft {
  padding-left: 10px;
}
