@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,300;0,500;0,800;0,900;1,300;1,500;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  /* font-size: 1.9vh; */
  font-size: 100%;
  font-weight: 300;
}

#Header {
  font-family: 'Bungee', cursive;
  /* height: 15vh; */
  width: 100%;
  font-size: 3rem;
  overflow: hidden;
}
#main {
  /* height: clamp(800px, 1200px, 1500px); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding-left: 100px;
  padding-right: 100px;
  gap: 20px;
}

#photoInputContainer {
  position: relative;
  margin-bottom: 30px;
}
#photoInputText {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
}
#photoInput {
  position: absolute;
  opacity: 0;
}

#description {
  /* height: 6vh; */
}
/*----- move to separate css file */
#addSkill {
  margin-top: 10px;
  padding: 5px;
}
#cvFormContainer {
  border: 1px solid black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input {
  display: block;
  font-size: 0.8rem;
  padding: 5px;
  width: 100%;
  outline: none;
  border: solid 1px rgb(80, 79, 79);
  border-radius: 5px;
}

.button-62 {
  background: linear-gradient(to bottom right, #1022a9, #32afc8);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(96, 119, 123, 0.5),
    0.125rem 0.125rem 1rem rgba(93, 90, 255, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(96, 119, 123, 0.5),
    0.125rem 0.125rem 1rem rgba(93, 90, 255, 0.5);
}

.formExperienceBox {
}
.experienceDates {
}
.experienceInfo {
}
