@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,300;0,500;0,800;0,900;1,300;1,500;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.9vh;
  font-weight: 300;
}

#Header {
  font-family: 'Bungee', cursive;
  height: 15vh;
  width: 100%;
  font-size: 3rem;
  overflow: hidden;
}
#main {
  height: clamp(800px, 1200px, 1500px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding-left: 100px;
  padding-right: 100px;
}

#photoInputContainer {
  position: relative;
  margin-bottom: 30px;
}
#photoInputText {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
}
#photoInput {
  position: absolute;
  opacity: 0;
}

#description {
  height: 6vh;
}
/*----- move to separate css file */
#addSkill {
  margin-top: 10px;
  padding: 5px;
}
input {
  display: block;
  font-size: 0.8rem;
  padding: 5px;
}
